In [6]:
 # print 0 to 20 by using range
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [8]:
# print range 10 to 20 
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [12]:
 # Print number of items in the list by using 'len'
listitem=[10, 20, 14, 55, 43, 87, 76]
print(len(listitem))

7

In [35]:
 a="Artificial Intelligence"
for i in a:
    print(i)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [43]:
listitem=["-Your Name-", "-Your Age-", "-Your Profession-"]
for i in listitem:
    print(i)

-Your Name-
-Your Age-
-Your Profession-

In [45]:
tup=(1, 'Welcome', 2, 'Hope') 
print(tup)

(1, 'Welcome', 2, 'Hope')

In [47]:
Tuple1 = (0, 1, 2, 3)
Tuple2 =  ('python', 'HOPE')
Tuple3 = (Tuple1,Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [53]:
listitem=(20,10,16,19,25,1,276,188) 
for i in listitem:
    if (i%2==1):
        print(i,"is a odd number")

19 is a odd number
25 is a odd number
1 is a odd number

In [55]:
listitem=(20,10,16,19,25,1,276,188) 
for i in listitem:
    if (i%2==0):
        print(i,"is a even number")

20 is a even number
10 is a even number
16 is a even number
276 is a even number
188 is a even number